name = "SemiAnalyticWECs"
uuid = "e38dea05-26d8-438a-8a99-79c6c0704522"
authors = ["Zachary J Wegert"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
